svg {
  height: 23rem;
  margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}

#star2 {
  animation-delay: 100ms;
}

#star3 {
  animation-delay: 500ms;
}

#star4 {
  animation-delay: 700ms;
}

#star5 {
  animation-delay: 300ms;
}

#star6 {
  animation-delay: 200ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.container {
  height: 100vh;
}

form {
  min-width: 25rem;
}
form .title {
  font-family: "Pacifico", cursive;
  color: #212529;
  font-size: 2.5rem;
}
form .form-control {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .form-control.thick {
  height: 3.3rem;
  padding: 0.5rem 3.5rem;
}
form .form-control:focus {
  background-color: #f2f6f8;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .message .form-control {
  padding: 0.5rem 1.8rem;
}
form ::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #838788;
  position: relative;
  left: 0;
}
form input,
form textarea {
  font-family: "Quicksand", sans-serif;
  color: #212529;
  font-size: 1.1rem;
}
form .icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
}

.btn.btn-primary {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, rgb(216, 248, 216), rgb(32, 129, 48), rgb(32, 129, 48), rgb(32, 129, 48));
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em rgb(32, 129, 48);
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

footer {
  
  background-color: #185720;
  margin-top: 0px;
}
.col{
  margin-top:0px;
  padding:0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.newsletter{
  background-color: #d8fdde;
  color: #185720;
}

.newsletter:hover{
  color:rgb(12, 8, 248);
}
footer .logo{
  width:150px;
  height:8vh
}

footer .icon i{
  font-size: 25px;
  color:#b1d4b6;
  margin-right: 10px;
}
footer .icon i:hover{
  color:bisque
}

footer h4{
font-size: 21px;
padding-bottom: 10px;
color: rgb(216, 248, 216);
}
footer p{
font-size: 20px;
margin: 0 0 8px 0;
color:rgb(218, 218, 241)
}

footer p span{
color:azure
}
.follow h4{
margin: 20px 0px;
}
.form{
width:50%;
margin-right: -70px;
text-align:center;
line-height: 30px;
}
.form input{
height:7vh;
width:60%;
padding:10px;
border-radius: 20px;
outline: none;
}
.copyright{
width:100%;
text-align: center;
color: rgb(241, 235, 235);
}

.copyright p{
margin:-20px;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px 15px;
  background-color: rgb(32, 122, 37);
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar{
  margin-top: 13px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.logo{
  height:50px;
 
}
#navbar li{
  list-style:none;
  padding:0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(228, 248, 208);
  transition: 0.3s ease;
  cursor: pointer;
}


button{
  background-color: rgb(179, 224, 182);
  color: rgba(39, 73, 47, 0.945);
  border:0;
  padding:10px 20px 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  white-space:nowarp;
  border-radius: 20px;
}

button:hover{
  box-shadow: 0px 0px 10px  #185720 ;
  color:rgb(31, 34, 214);
}

#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color:rgb(27, 29, 27) ;
  position:absolute;
  bottom:-4px;
  left:20px;
}