<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/land.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/877fdb1861.js" crossorigin="anonymous"></script>
   
    <title>About Us</title>
</head>
<body>
    <section id="header">
        <a herf="#"><img src="/css/img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a  class="active" href="/auth/home">Home</a></li>
                <li><a  href="/auth/about">About</a></li>
                <li><a href="/auth/resource">Resources</a></li>
                <li><a href="/auth/contact">Contact</a></li>
                <li><a href="/auth/profile"><i class="fa-solid fa-user"></i></a></li>
                </div>
            </ul>
        </div>
    </section>
    <br>
    <br>
    <h1 align="center" >Welcome To PageCraft</h1>
    <section id="vision" class="section-p1">
        <img src="/css/img/pic5.jpg" alt="">
        <div class="vi">
            <h2>Our Vision</h2>
            <p>We envision a world where high-quality educational resources are accessible to all students, 
                regardless of their background or location. By combining expert reviews, AI-driven content analysis,
                 and multilingual support, we aim to set a new standard for educational excellence.
            </p>
         </div>
    </section>
    <section id="mission" class="section-p1">
        
         <div class="mi">
            <h2>Our Mission</h2>
            <p>At PageCraft, our mission is to assess and enhance the quality of textbooks, reference books, 
                and e-books, ensuring that students receive accurate, engaging, and effective learning materials.
                 We strive to promote inclusivity, support diverse learning needs, and foster an environment where every 
                 student can thrive.</p>
         </div>
         <img src="/css/img/pic2.jpg" alt="">
    </section>
   
    <br>
    <br>
    <br>
    <br>
    <div class="ap"><h2 align="center">Our Approach</h2></div>
    <section id="approach"class=section-p1>
        <div class="container">
            <div class="card">
                <img src="/css/img/pic3.jpg" alt="">
                <div class="intro">
                    <h3>Expert Review</h3>
                    <p>Our platform brings together professionals in the educational field
                         to provide thorough evaluations of learning materials</p>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="card">
                <img src="/css/img/pic6.jpg" alt="">
                <div class="intro">
                    <h3>AI-Analysis</h3>
                    <p>We utilize cutting-edge AI algorithms to analyze the content.Our AI ensures that materials 
                        align with curriculum standards and cater to diverse learning needs.</p>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="card">
                <img src="/css/img/pic4.jpg" alt="">
                <div class="intro">
                    <h3>Multilingual</h3>
                    <p>We believe in inclusivity and accessibility. Our platform supports multiple languages, 
                        making educational resources available to students from diverse linguistic backgrounds.</p>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="card">
                <img src="/css/img/pic1.jpg" alt="">
                <div class="intro">
                    <h3>Credit</h3>
                    <p>we value our user's engagement and contribution. To show our appreciation, we offer credits 
                        in the form of coupons and gifts, rewarding active participation and utilization of our platform.</p>
                </div>
            </div> 
        </div>

    </section>
   
    <section id="footer">
        <footer class="section-p1">
            <img src="/css/img/logo.png" class="logo" alt="">
            <div class="col">
                <div>
                    <h4>ContactUs</h4>
                    <br>
                    <p><span><strong>Phone : </strong> </span>+91 9999933245</p>
                    <p><span><strong>Email : </strong></span> PageCraft@gmail.com</p>
                    <div class="follow">
                        <h4>Follow us</h4>
                        <div class="icon">
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                            <a href="#" ><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class=" fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <h4>Sign Up For Updates</h4>
                    <p>Get E-mail updates about our website</p>
                    <input type="text" placeholder="Your email address">
                    <button class="newsletter">Sign Up</button>
                </div>
        
            </div>
           
            <div class="copyright">
                <p>&copy Copyright PageCraft</p>
            </div>
        </footer>
    </section>
    <script src="https://unpkg.com/scrollreveal"></script>
<script>
    const sr = ScrollReveal({
    distance : '40px',
    duration : 2500,
    reset : true
});




sr.reveal('.vi h2',{delay : 600 , origin :'top'});
sr.reveal('.vi p',{delay : 600 , origin :'right'});
sr.reveal('.mi h2',{delay : 600 , origin :'top'});
sr.reveal('.mi p',{delay : 600 , origin :'right'});
</script>
</body>
</html>
