<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering Chemistry</title>
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d729f933ea.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="mt-4">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- col -->
                    <div class="col-12">
                        <!-- breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="/auth/resource1">Resource</a></li>

                                <li class="breadcrumb-item active" aria-current="page">Engineering Chemistry</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="mt-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xl-6">
                        <!-- img slide -->
                        <div class="tns-outer" id="product-ow" style="margin-top:20px"><div id="product-mw" class="tns-ovh"><div class="tns-inner" id="product-iw"><div class="product  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="product" style="transition-duration: 0s; transform: translate3d(-16.6667%, 0px, 0px);"><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <div class="margin-left">
                                    <!-- img -->
                                    <img src="/css/img/che1.jpg" alt="" width="80%">
                                </div>
                            </div>
            
                        </div></div></div></div>
                        <!-- product tools -->
                        <div class="product-tools">
                            <div class="thumbnails row g-3" id="productThumbnails" aria-label="Carousel Pagination"></div>
                        </div>
                    </div>
                    <div class="col-md-7 col-xl-6">
                        <div class="ps-lg-10 mt-6 mt-md-0">
                            <!-- content -->
                            <a href="D:\project expo\home\home.html" class="mb-4 d-block">PageCraft</a>
                            <!-- heading -->
                            <h1 class="mb-1">Engineering Chemistry</h1>
                            <div class="mb-4">
                                <!-- rating -->
                                <!-- rating -->
                                <small class="text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    
                                </small>
                                <a href="#rev" class="ms-2">(14 reviews)</a>
                            </div>
                            
                            <!-- hr -->
                            <hr class="my-6">
                            
                            
                            <div class="mt-3 row justify-content-start g-2 align-items-center">
                                <div class="col-xxl-4 col-lg-4 col-md-5 col-5 d-grid">
                                    <!-- button -->
                                    <!-- btn -->
                                    <button type="button" class="btn btn-primary" onclick="downloadBook('BOOK_ID_HERE')">
                                        <i class="feather-icon icon-shopping-bag me-2"></i>
                                        Download Now
                                    </button>
                                </div>
                                
                            </div>
                            <!-- hr -->
                            <hr class="my-6">
                            <div>
                                <!-- table -->
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <td>Product Code:</td>
                                            <td>FBC1751</td>
                                        </tr>
                                        <tr>
                                            <td>Book Name:</td>
                                            <td>Engineering Chemistry</td>
                                        </tr>
                                        <tr>
                                            <td>Journal:</td>
                                            <td>Chemistry</td>
                                        </tr>
                                        <tr>
                                            <td>Description:</td>
                                            <td>
                                                <small>
                                                    Engineering Chemistry: Concepts for Engineers has been designed in accordance with the 
                                                    new syllabus of various Indian universities. The book includes eleven chapters and fourteen experiments
                                                     as per the latest syllabus for the engineering students.

                                                    The book provides in depth knowledge on various topics in a very lucid 
                                                    manner. Many solved and unsolved university questions and intext questions 
                                                    for practice are included at the end of each chapter.
                                                </small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-8">
                                <!-- dropdown -->
                                <div class="dropdown">
                                    <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Share</a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bi bi-facebook me-2"></i>
                                                Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bi bi-twitter me-2"></i>
                                                whatsapp
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bi bi-instagram me-2"></i>
                                                Instagram
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-lg-14 mt-8" style="margin-top: 20px " id="rev">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
                            <!-- nav item -->
                            <li class="nav-item" role="presentation">
                                <!-- btn -->
                                <button class="nav-link" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="false" tabindex="-1">
                                    Product Details
                                </button>
                            </li>
                        
                            <!-- nav item -->
                            <li class="nav-item" role="presentation">
                                <!-- btn -->
                                <button class="nav-link active" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane" aria-selected="true">
                                    Reviews
                                </button>
                            </li>
                            
                        </ul>
                        <!-- tab content -->
                        <div class="tab-content" id="myTabContent">
                            <!-- tab pane -->
                            <div class="tab-pane fade" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
                                <div class="my-8">
                                    <div class="mb-5">
                                        <!-- text -->
                                        <h4 class="mb-1">About</h4>
                                        <p class="mb-0">
                                            Engineering Chemistry: Concepts for Engineers has been designed in accordance with the 
                                                    new syllabus of various Indian universities. The book includes eleven chapters and fourteen experiments
                                                     as per the latest syllabus for the engineering students.

                                                    The book provides in depth knowledge on various topics in a very lucid 
                                                    manner. Many solved and unsolved university questions and intext questions 
                                                    for practice are included at the end of each chapter. 
                                            
                                        </p>
                                    </div>
                                    <div class="mb-5">
                                        <h5 class="mb-1">Details</h5>
                                        <p class="mb-0">
                                            Publisher :Dr. H.G. Bhatt & Mr. K.S. Damle<br>
                                            Paperback  :  165 pages<br>
                                            ISBN 10: 978-3-031-13547-7 <br>
                                            ISBN 13: 978-3-031-13548-4<br>
                                            Language  : English<br>
                                          

                               </p>
                                    </div>
                                    <!-- content -->
                                    
                                </div>
                            </div>
                            
                            <!-- tab pane -->
                            <div class="tab-pane fade active show" id="reviews-tab-pane " role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
                                <div class="my-8">
                                    <!-- row -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="me-lg-12 mb-6 mb-md-0">
                                                <div class="mb-5">
                                                    <!-- title -->
                                                    <h4 class="mb-3">Customer reviews</h4>
                                                    <span>
                                                        <!-- rating -->
                                                        <small class="text-warning">
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </small>
                                                        <span class="ms-3">4.1 out of 5</span>
                                                        <small class="ms-3">11,130 global ratings</small>
                                                    </span>
                                                </div>
                                                <div class="mb-8">
                                                    <!-- progress -->
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap me-3 text-muted">
                                                            <span class="d-inline-block align-middle text-muted">5</span>
                                                            <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                        </div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted ms-3">53%</span>
                                                    </div>
                                                    <!-- progress -->
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap me-3 text-muted">
                                                            <span class="d-inline-block align-middle text-muted">4</span>
                                                            <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                        </div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"></div>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted ms-3">22%</span>
                                                    </div>
                                                    <!-- progress -->
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap me-3 text-muted">
                                                            <span class="d-inline-block align-middle text-muted">3</span>
                                                            <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                        </div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="35"></div>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted ms-3">14%</span>
                                                    </div>
                                                    <!-- progress -->
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap me-3 text-muted">
                                                            <span class="d-inline-block align-middle text-muted">2</span>
                                                            <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                        </div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="22"></div>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted ms-3">5%</span>
                                                    </div>
                                                    <!-- progress -->
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap me-3 text-muted">
                                                            <span class="d-inline-block align-middle text-muted">1</span>
                                                            <i class="bi bi-star-fill ms-1 small text-warning"></i>
                                                        </div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 6px">
                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 14%" aria-valuenow="14" aria-valuemin="0" aria-valuemax="14"></div>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted ms-3">7%</span>
                                                    </div>
                                                </div>
                                                <div class="d-grid">
                                                    <h4>Review this product</h4>
                                                    <p class="mb-0">Share your thoughts with other customers.</p>
                                                    <a href="#" class="btn btn-outline-gray-400 mt-4 text-muted">Write the Review</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col -->
                                        <div class="col-md-8">
                                            <div class="mb-10">
                                                <div class="d-flex justify-content-between align-items-center mb-8">
                                                    <div>
                                                        <!-- heading -->
                                                        <h4>Reviews</h4>
                                                    </div>
                                                    <div>
                                                        <select class="form-select">
                                                            <option selected="">Top Reviews</option>
                                                            <option value="Most Recent">Most Recent</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-bottom pb-6 mb-6">
                                                    <!-- img -->
                                                    <!-- img -->
                                                    <img src="../assets/images/avatar/avatar-10.jpg" alt="" class="rounded-circle avatar-lg">
                                                    <div class="ms-5">
                                                        <h6 class="mb-1">Shankar Subbaraman</h6>
                                                        <!-- select option -->
                                                        <!-- content -->
                                                        <p class="small">
                                                            <span class="text-muted">29 May 2024</span>
                                                           
                                                        </p>
                                                        <!-- rating -->
                                                        <div class="mb-2">
                                                            <small class="text-warning">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star-half-stroke"></i>
                                                                
                                                            </small>
                                                            <span class="ms-3 text-dark fw-bold">Excellent Book</span>
                                                        </div>
                                                        
                                                        <!-- text-->
                                                        <p>
                                                            Irrespective of you being a beginner or experienced in this field, this book is a must. The author has done a commendable job in explaining ID theories and principles such that you will be able to understand the concepts in your very first read.
Every chapter begins with an analogy and the deep dives into the concepts. Examples and case studies provided are like cherries on top of the cake. My favorite chapter is 'Designing the Outline'.
                                                        </p>
                                                        
                                                        <!-- icon -->
                                                        <div class="d-flex justify-content-end mt-4">
                                                            <a href="#" class="text-muted">
                                                                <i class="feather-icon icon-thumbs-up me-1"></i>
                                                                Helpful
                                                            </a>
                                                            <a href="#" class="text-muted ms-4">
                                                                <i class="feather-icon icon-flag me-2"></i>
                                                                Report abuse
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                    <!-- img -->
                                                    <img src="../assets/images/avatar/avatar-12.jpg" alt="" class="rounded-circle avatar-lg">
                                                    <div class="ms-5">
                                                        <h6 class="mb-1"> Thomas</h6>
                                                        <!-- content -->
                                                        <p class="small">
                                                            <span class="text-muted">25 May 2024</span>
                                                        </p>
                                                        <!-- rating -->
                                                        <div class="mb-2">
                                                            <small class="text-warning">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star-half-stroke"></i>
                                                                
                                                            </small>
                                                            <span class="ms-3 text-dark fw-bold">Satisfied content</span>
                                                        </div>
                                                        

                                                        <p>
                                                            Irrespective of you being a beginner or experienced in this field, this book is a must. The author has done a commendable job in explaining ID theories and principles such that you will be able to understand the concepts in your very first read.
Every chapter begins with an analogy and the deep dives into the concepts. 
                                                        </p>

                                                        <!-- icon -->
                                                        <div class="d-flex justify-content-end mt-4">
                                                            <a href="#" class="text-muted">
                                                                <i class="feather-icon icon-thumbs-up me-1"></i>
                                                                Helpful
                                                            </a>
                                                            <a href="#" class="text-muted ms-4">
                                                                <i class="feather-icon icon-flag me-2"></i>
                                                                Report abuse
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                    <!-- img -->
                                                    <img src="../assets/images/avatar/avatar-9.jpg" alt="" class="rounded-circle avatar-lg">
                                                    <div class="ms-5">
                                                        <h6 class="mb-1"> Tay B</h6>
                                                        <!-- content -->
                                                        <p class="small">
                                                            <span class="text-muted">28 December 2023</span>
                                                            
                                                        </p>
                                                        <!-- rating -->
                                                        <div class="mb-2">
                                                            <small class="text-warning">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star-half-stroke"></i>
                                                                
                                                            </small>
                                                            <span class="ms-3 text-dark fw-bold">Theory and Practical</span>
                                                        </div>

                                                        <p>This book is really helpful for Instructional Designers who harbour a dream to master this craft. Instructional Design is a vast subject and it requires total devotion of an aspirant. I congratulate the author and her associates for managing a learner friendly approach throughout.</p>

                                                        <!-- icon -->
                                                        <div class="d-flex justify-content-end mt-4">
                                                            <a href="#" class="text-muted">
                                                                <i class="feather-icon icon-thumbs-up me-1"></i>
                                                                Helpful
                                                            </a>
                                                            <a href="#" class="text-muted ms-4">
                                                                <i class="feather-icon icon-flag me-2"></i>
                                                                Report abuse
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                    <!-- img -->
                                                    <img src="../assets/images/avatar/avatar-8.jpg" alt="" class="rounded-circle avatar-lg">
                                                    <div class="ms-5 flex-grow-1">
                                                        <h6 class="mb-1">Sandra </h6>
                                                        <!-- content -->
                                                        <p class="small">
                                                            <span class="text-muted">8 December 2023</span>
                                                            
                                                        </p>
                                                        <!-- rating -->
                                                        <div class="mb-2">
                                                            <small class="text-warning">
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star"></i>
                                                                <i class="fa-solid fa-star-half-stroke"></i>
                                                                
                                                            </small>
                                                            <span class="ms-3 text-dark fw-bold">Great Book</span>
                                                        </div>

                                                        <p>After being a self-made writer, designer, trainer for a few years, a formal introduction to the field was very welcome fir me to get back to the industry. I have taken the course with the author which taught me to formalize and structure my thought process. The book in itself is an example of Instructional Design. Very clear explanations with real world examples and non-examples. It is a must have for anyone getting into this field.</p>

                                                        <!-- icon -->
                                                        <div class="d-flex justify-content-end mt-4">
                                                            <a href="#" class="text-muted">
                                                                <i class="feather-icon icon-thumbs-up me-1"></i>
                                                                Helpful
                                                            </a>
                                                            <a href="#" class="text-muted ms-4">
                                                                <i class="feather-icon icon-flag me-2"></i>
                                                                Report abuse
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="#" class="btn btn-outline-gray-400 text-muted">Read More Reviews</a>
                                                </div>
                                            </div>
                                            <div>
                                                <!-- rating -->
                                                <div >
                                                <h3 class="mb-5">Create Review</h3>
                                                <div class="py-4 mb-4">
                                                    <!-- heading -->
                                                    <h5>Add a written review</h5>
                                                    <textarea class="form-control" rows="3" placeholder="What did you like or dislike? Was this book helpful to you?"></textarea>
                                                </div>
                                                <!-- button -->
                                                <div class="d-flex justify-content-end">
                                                    <a href="#" class="btn btn-primary">Submit Review</a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </section>

        <!-- section -->
        <section class="my-lg-14 my-14">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <!-- heading -->
                        <h3>Related Items</h3>
                    </div>
                </div>
                <!-- row -->
                <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-2 mt-2">
                    <!-- col -->
                    <div class="col">
                        <div class="card card-product">
                            <div class="card-body">
                                <!-- badge -->

                                <div class="text-center position-relative">
                                    
                                    <a href="#!">
                                        <!-- img -->
                                        <img src="/css/img/ml1.jpg" alt="" class="mb-3 img-fluid">
                                    </a>
                                    <!-- action btn -->
                                    <div class="card-product-action">
                                        <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                            <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i>
                                        </a>
                                        <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                    </div>
                                </div>
                                <!-- heading -->
                                
                                <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Machine learning</a></h2>
                                <div>
                                    <!-- rating -->
                                    <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5(149)</span>
                                </div>
                                <!-- price -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                        <span class="text-dark"></span>
                                        <span class="text-decoration-line-through text-muted"></span>
                                    </div>
                                    <!-- btn -->
                                    <div>
                                        <a href="#!" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="card card-product">
                            <div class="card-body">
                                <!-- badge -->
                                <div class="text-center position-relative">
                                    <a href="#!"><img src="/css/img/phy1.jpg" alt=""class="mb-3 img-fluid"></a>
                                    <!-- action btn -->
                                    <div class="card-product-action">
                                        <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                            <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i>
                                        </a>
                                        <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                    </div>
                                </div>
                                <!-- heading -->
                                
                                <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Engineering Physics</a></h2>
                                <div class="text-warning">
                                    <small>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5 (25)</span>
                                </div>
                                <!-- price -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div><span class="text-dark"></span></div>
                                    <!-- btn -->
                                    <div>
                                        <a href="#!" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="card card-product">
                            <div class="card-body">
                                <!-- badge -->
                                <div class="text-center position-relative">
                                    <a href="#!"><img src="/css/img/ai1.jpg" alt="" class="mb-3 img-fluid"></a>
                                    <!-- action btn -->
                                    <div class="card-product-action">
                                        <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                            <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i>
                                        </a>
                                        <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                    </div>
                                </div>
                                <!-- heading -->
                                
                                <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Exploration in AI and ML</a></h2>
                                <div class="text-warning">
                                    <small>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </small>
                                    <span class="text-muted small">5 (469)</span>
                                </div>
                                <!-- price -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                        <span class="text-dark"></span>
                                        <span class="text-decoration-line-through text-muted"></span>
                                    </div>
                                    <!-- btn -->
                                    <div>
                                        <a href="#!" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="card card-product">
                            <div class="card-body">
                                <!-- badge -->
                                <div class="text-center position-relative">
                                    <a href="#!"><img src="/css/img/mat2.jpg" alt="" class="mb-3 img-fluid"></a>
                                    <!-- action btn -->
                                    <div class="card-product-action">
                                        <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                            <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i>
                                        </a>
                                        <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                    </div>
                                </div>
                                <!-- heading -->
                                
                                <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Calculating Advanced Statistics</a></h2>
                                <div class="text-warning">
                                    <small>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                        <i class="bi bi-star"></i>
                                    </small>
                                    <span class="text-muted small">3.5 (456)</span>
                                </div>
                                <!-- price -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                        <span class="text-dark"></span>
                                        <span class="text-decoration-line-through text-muted"></span>
                                    </div>
                                    <!-- btn -->
                                    <div>
                                        <a href="#!" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col">
                        <div class="card card-product">
                            <div class="card-body">
                                <!-- badge -->
                                <div class="text-center position-relative">
                                    <a href="#!"><img src="/css/img/che1.jpg" alt="" class="mb-3 img-fluid"></a>
                                    <!-- action btn -->
                                    <div class="card-product-action">
                                        <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                            <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i>
                                        </a>
                                        <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                    </div>
                                </div>
                                <!-- heading -->
                               
                                <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Engineering Chemistry</a></h2>
                                <div class="text-warning">
                                    <small>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5 (67)</span>
                                </div>
                                <!-- price -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                        <span class="text-dark"></span>
                                        <span class="text-decoration-line-through text-muted"></span>
                                    </div>
                                    <!-- btn -->
                                    <div>
                                        <a href="#!" class="btn btn-primary btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg>
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section id="footer">
        <footer class="section-p1">
            <img src="/css/img/logo.png" class="logo" alt="">
            <div class="col">
                <div>
                    <h4>ContactUs</h4>
                    <br>
                    <p><span><strong>Phone : </strong> </span>+91 9999933245</p>
                    <p><span><strong>Email : </strong></span> PageCraft@gmail.com</p>
                    <div class="follow">
                        <h4>Follow us</h4>
                        <div class="icon">
                            <a href="#" ><i class="fa fa-facebook"></i></a>
                            <a href="#" ><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class=" fa fa-twitter"></i></a>
                            <a href="#" ><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <h4>Sign Up For Updates</h4>
                    <p>Get E-mail updates about our website</p>
                    <input type="text" placeholder="Your email address">
                    <button class="newsletter">Sign Up</button>
                </div>
        
            </div>
           
            <div class="copyright">
                <p>&copy Copyright PageCraft</p>
            </div>
        </footer>
    </section>
    <script>
        function downloadBook(bookId) {
            window.location.href = `/auth/download/${bookId}`;
        }
    </script>
</body>
</html>